$text-color-light: #ffffff;
$text-color-dark: #000000;
$text-color-light-opacity: #ffffff77;
$text-shadow: rgba(0, 0, 0, 0.8) 0 0 20px;

$theme-blue: #40a9ff;

$box-shadow-5: rgba(0, 0, 0, 0.2) 2px 2px 5px;
$box-shadow-10: rgba(0, 0, 0, 0.2) 2px 2px 10px;

$backdrop-filter: blur(10px) saturate(1.5);

@mixin full {
	width: 100%;
	height: 100%;
}
@mixin center {
	left: 50%;
	transform: translateX(-50%);
}
@mixin animation-hide {
	animation: hide 0.3s;
	opacity: 0;
}
@mixin box-border($color) {
	border: 1px solid $color;
}
@mixin box-border-radius($radius) {
	border-radius: $radius;
}
