#app {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
html {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: darkgray !important;
}
@font-face {
  font-family: "ZhuZiAWan";
  src: url("https://npm.elemecdn.com/anzhiyu-blog@2.0.4/fonts/ZhuZiAWan.woff2");
}
* {
  font-family: ZhuZiAWan;
}
@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
